<br>
<br>
<br>
<div class="container">

<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    
    <% qpons.forEach( function(qpon) { %>
    
        <tr><td><%= qpon.id %></td><td><%= qpon.title %></td><td><%= qpon.restaurant %></td></tr>
    
    <% }); %>

</table>
</div>