<html>
<head>
    <title>Homepage</title>

    <style>
        .column{
            float: left;
            width: 33%;
        }
    </style>
</head>

<body>
<br>
<br>
<br>
<div class="container">
    <strong style="font-size: xx-large;">Q-Pon</strong>
    <br>
    <p>Redeem your coins for dining coupons.</p>
</div>
<br>
<br>
<div class="container">
    <div class="row is-mobile is-multiline">
        <div class="column is-half-mobile">
            <strong>HK Island</strong>
        </div>
        <div class="column is-half-mobile">
            <strong>Kowloon</strong>
        </div>
        <div class="column is-half-mobile">
            <strong>New Territories</strong>
        </div>
    </div>


</div>



</body>
</html>

