<html>
    <head>
        <title>Search</title>
    </head>
    <body>

        <div class="container">
            <div class="row is-mobile is-multiline">
                <div class="field is-horizontal">
                <div id="p2" class="field is-horizontal">
                </div>
                
                <div class="column is-half-mobile is-one-third">
                    <form action="/qpon/search" method="GET" onsubmit="fetchPage(2,0);return false">
                        <div class="field">
                            <label class="label">Region</label>
                            <div class="control">
                                <div class="select">
                                    <select name="region" id="region">
                                        <option value="">Not Specified</option>
                                        <option class="Kowloon" value="Kowloon">Kowloon</option>
                                        <option class="HKIsland" value="HKIsland">HK Island</option>
                                        <option class="NT"value="NT">NT</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Min Coin</label>
                            <div class="control">
                                <input class="input" type="String" name="mincoin" id="mincoin">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Max Coin</label>
                            <div class="control">
                                <input class="input" type="String" name="maxcoin" id="maxcoin">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Valid Date</label>
                            <div class="control">
                                <input class="input" type="date" name="validdate" id="validdate">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-link" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>

            <nav class="pagination" role="navigation" aria-label="pagination">
                <button class="pagination-previous" id="previousButton">Previous</button>
                <button class="pagination-next" id="nextButton">Next page</button>
                <ul class="pagination-list">
                    <li>
                        <a class="pagination-link" id="firstLink">1</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link" id="previousLink">45</a>
                    </li>
                    <li>
                        <a class="pagination-link is-current" id="currentLink">46</a>
                    </li>
                    <li>
                        <a class="pagination-link" id="nextLink">47</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link" id="lastLink">86</a>
                    </li>
                </ul>
            </nav>




        </div>





    </body>
</html>

<script>

    function setPagination(limit,offset,numOfRecords) {

        var previousButton = document.getElementById("previousButton");
        var nextButton = document.getElementById("nextButton");
        var currentLink = document.getElementById("currentLink");
        var previousLink = document.getElementById("previousLink");
        var nextLink = document.getElementById("nextLink");
        var firstLink = document.getElementById("firstLink");
        var lastLink = document.getElementById("lastLink");


        //var limit = Math.max(parseInt("<%= req.query.limit %>"), 2) || 2;
        //var offset = Math.max(parseInt("<%= req.query.offset %>"), 0) || 0;
        
        //var baseUrl = "/qpon/search?region="+ vregion + "&validdate=" + vdate + "&mincoin=" + vmincoin + "&maxcoin=" + vmaxcoin +"&limit=" + limit + "&offset=" + offset;

        //firstLink.href = baseUrl + 0;
        //previousButton.href = baseUrl + (offset - limit);
        //previousLink.href = baseUrl + (offset - limit);
        //currentLink.href = baseUrl + offset;
        //nextLink.href = baseUrl + (offset + limit);
        //nextButton.href = baseUrl + (offset + limit);
        //lastLink.href = baseUrl + (Math.ceil(numOfRecords / limit) - 1) * limit;
              
        firstLink.onclick = function () { fetchPage(limit,0) };
        previousButton.onclick = function () { fetchPage(limit,offset - limit) };
        previousLink.onclick = function () { fetchPage(limit,offset - limit) };
        currentLink.onclick = function () { fetchPage(limit,offset) };
        nextLink.onclick = function () { fetchPage(limit,offset + limit) };
        nextButton.onclick = function () { fetchPage(limit,offset + limit) };
        lastLink.onclick = function () { fetchPage(limit,(Math.ceil(numOfRecords / limit) - 1) * limit) };

        var currentPageNumber = Math.floor(offset / limit) + 1;

        previousLink.innerHTML = currentPageNumber - 1;
        currentLink.innerHTML = currentPageNumber;
        nextLink.innerHTML = currentPageNumber + 1;
        lastLink.innerHTML = Math.ceil(numOfRecords / limit); 

        if (offset < limit) {
            previousButton.setAttribute("disabled", true);
            //previousButton.href = "";
            previousLink.style.display = "none";
        }else{
            previousButton.removeAttribute("disabled",false);
            previousLink.style.display = "block";
        }

        if (offset + limit >= numOfRecords) {
            nextButton.setAttribute("disabled", true);
            //nextButton.href = "";
            nextLink.style.display = "none";
        }else{
            nextButton.removeAttribute("disabled",false);
            nextLink.style.display = "block";
        }
    }

</script>

<script>
    async function fetchPage(limit,offset,formElem){

        const formData = new FormData(formElem);
        const searchParams = new URLSearchParams(formData);
        const queryString = searchParams.toString();

        
        var vdate = document.getElementById("validdate").value;
        var vregion = document.getElementById("region").value;
        var vmincoin = document.getElementById("mincoin").value;
        var vmaxcoin = document.getElementById("maxcoin").value;
        var response = await fetch("/qpon/search?region="+ vregion + "&validdate=" + vdate + "&mincoin=" + vmincoin + "&maxcoin=" + vmaxcoin +"&limit=" + limit + "&offset=" + offset);
        if(response.ok){
            var qpon = await response.json();
            var numOfRecords = parseInt(qpon.Records);
            var dynamicCode = document.querySelector("#p2").innerHTML = '';

            qpon.qpons.forEach(function(item){
                dynamicCode += '<div class="box" style=" width: 300px; height: 400px;">';
                    dynamicCode += '<img src="' +item.image +'" width="300" height="300">'
                    dynamicCode += '<div>'
                    dynamicCode += '<a class="hyperlink" href="http://localhost:1337/qpon/read/'+item.id+'"><strong style="font-size: x-large;">' +item.restaurant +'</strong></a>'
                    dynamicCode += '<p>'+item.title +'</p>'
                    dynamicCode += '<br>'
                    dynamicCode += '<p>Coins: '+item.coins+'</p>'
                    dynamicCode += '</div>'
                    dynamicCode += '</div>'
            });

            document.querySelector("#p2").innerHTML = dynamicCode;
            setPagination(limit,offset,numOfRecords);
        }else{
            alert(response.status + ": " + response.statusText);
        }
    }

    fetchPage(2,0);
</script>